*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
/*
	CSS from Bootstrap
*/
body
{
	font-family: "Helvetica Neue";
}
.text-center
{
	text-align: center;
}
.bg-primary
{
	background-color: dodgerblue;
}
.bg-secondary
{
	background-color: lightslategray;
}
.text-light
{
	color: white;
}
.border
{
	border: 1px solid gray;
}
.border-dark
{
	border-color: black;
}
.pt-3
{
	padding-top: 20px;
}
.pb-3
{
	padding-bottom: 20px;
}
/*
	Bootstrap Grid Class

	display: flex;
	- will change the element into a block-level flex
	container, making the child elements flexible.
	With an auto-width and auto-height.

	flex-wrap: flex;
	-will allow the elements that exceed the width
	of the screen to wrap around and be pushed below
	previous elements in the same block. Breaks the items
	into multiple lines.
*/
.row
{
	display: flex;
	flex-wrap: wrap;
}

/*
	The bootstrap Grid System uses colums instead of the normal
	CSS where we set pixels and other measurements. It has 12 columns.
	will allow us to apply calculations to the width of an element.


*/
.col-1
{
	width: calc(100% /12);
}

.col-2
{
	width: calc((100% / 12) * 2);
}
.col-3
{
	width: calc((100% / 12) * 3);
}
.col-4
{
	width: calc((100% / 12) * 4);
}
.col-5
{
	width: calc((100% / 12) * 5);
}
.col-6
{
	width: calc((100% / 12) * 6);
}
.col-7
{
	width: calc((100% / 12) * 7);
}
.col-8
{
	width: calc((100% / 12) * 8);
}
.col-9
{
	width: calc((100% / 12) * 9);
}
.col-10
{
	width: calc((100% / 12) * 10);
}
.col-11
{
	width: calc((100% / 12) * 11);
}
.col-12
{
	width: calc((100% / 12) * 12);
}

/*
	Mobile First Approach
*/

@media (min-width: 576px)
{
	body {
		background-color: yellow;
	}
}
@media (min-width: 768px)
{
	body {
		background-color: lightgreen;
	}
}
@media (min-width: 992px)
{
	body {
		background-color: lightskyblue;
	}
}
@media (min-width: 0px)
{
	body {
		background-color: lightsalmon;
	}
}
